<p>
  todo works!
</p>

<h3>Task List Simple</h3>

Add Task: <input type="text" [(ngModel)]="onetask"> 
<button (click)="addTask()">Add Task</button>
<br>

<ul>
  <li *ngFor="let mytask of task; let currentTask = index" >
    Task {{currentTask}}: {{mytask | uppercase}} <button (click) = "removeTask(currentTask)">Done</button>
  </li>
  <br>

  Money: {{money | currency:'EUR'}} <br>
  Date: {{ myDate | date:'d/MM/y'}} <br>

  Percent: {{ money/100 | percent:'2.0' }} <br>
  Numbers without sortPipe: {{scores }} <br>
  <button (click)="sortNumberAsc()">Sort</button><br>
  Numbers with sortPipe: {{ scores | sortNumber:'dsc' }} <br>
  Fruits: {{fruits | sortNumber}}

</ul>


