<p>
  inbuiltdirective works!
</p>

<!-- <div>
  <div *ngIf="friends.length > 0">List of friends:
    <br>
    <ul>
      <li *ngFor="let one of friends; let counter = index">
        {{counter}}.  {{one}}
      </li>
    </ul>
  </div>

  <div *ngIf="friends.length == 0">
    No Friends
  </div>

</div> -->

<!-- <div>
  <div *ngIf="friends.length > 0; else noFriends">
    List of friends:
    <br>
    <ul>
      <li *ngFor="let one of friends; let counter = index">
        {{counter}}. {{one}}
      </li>
    </ul>
  </div>

  <ng-template #noFriends>
    No Friends
  </ng-template>
</div>
 -->

 <div *ngIf="friends.length > 0; then someFriends else noFriends"></div>
    <ng-template #someFriends>
      List of friends:
      <br>
      <ul>
        <li *ngFor="let one of friends; let counter = index">
          {{counter}}. {{one}}
        </li>
      </ul>
    </ng-template>
  
    <ng-template #noFriends>
      No Friends
    </ng-template>
  <hr>
  <h4>Switch Case</h4>

  <ul>
    <li [class.active]="name=='prafful'"><a (click)="name='prafful'"><button>Prafful</button></a></li>
    <li [class.active]="name=='adi'"><a (click)="name='adi'"><button>Adi</button></a></li>
    <li [class.active]="name=='obb'"><a (click)="name='obb'"><button>OBB</button></a></li>
  </ul>

  <div [ngSwitch]="name">
    <div *ngSwitchCase="'prafful'">My Name is Prafful</div>
    <div *ngSwitchCase="'adi'">My Name is Adi</div>
    <div *ngSwitchCase="'obb'">My Name is OBB</div>
    <div *ngSwitchDefault>I am everywhere!!!</div>
  </div>
  