<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Welcome to {{ name }}! Learning Angular {{number}}
  </h1>
<h2>SPA Family 2 </h2>


<a routerLink="nuclear">Family</a>


<a routerLink="todo">Todo</a>
<a routerLink="template">Template Form</a>
<a routerLink="model">Model Form</a>
<a routerLink="searchfilter">Auto Search</a>
<a routerLink="localservice">Local Service 1</a>
<a routerLink="localservice2">Local Service 2</a>
<a routerLink="remoteservice">Remote Service</a>
<a routerLink="animation">Animation</a>
<a routerLink="eventbinding">Event Binding</a>
<a routerLink="directive">InBuilt Directive</a>

  
<router-outlet></router-outlet>




